<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.edu.ulima.pc_1_mt" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PC"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".login.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".listadoEquipos.ListadoEquiposActivity" >

        </activity>
        <activity android:name=".infoEquipo.MostrarInfoEquipoActivity" >
        </activity>
        <activity android:name=".agregarAlumno.AgregarAlumnoActivity" >
        </activity>
    </application>

</manifest>
